body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid>div {
  border: 1px solid black;
  height: 25px;
  width: 25px;
}

button {
    margin: 10px;
}

/* .grid>div:hover {
    background-color: grey;
} */