body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid>div {
  border: 1px solid black;
  height: 25px;
  width: 25px;
}

.grid>div:nth-child(16n) {
  width: 100% !important;
  border: 0;
  height: 0;
}

.grid>div:hover {
    background-color: grey;
}